* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content-wrapper {
    display: flex;
    justify-content: center;
}

.book-wrapper {
    border: 2px;
    border-style: solid;
    border-color: red;
}

#popup-wrapper {
    display: none;
}

footer {
    background-color: lightblue;
}